openapi: 3.0.3
info:
  title: LFG Platform API
  description: |
    LFG (Let's Freaking Go) is a comprehensive prediction marketplace and sportsbook platform.

    ## Authentication
    Most endpoints require JWT authentication. Include the JWT token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```

    ## Rate Limiting
    API requests are rate limited to 10 requests per second per IP address.

  version: 1.0.0
  contact:
    name: LFG Platform Support
    email: support@lfg-platform.com
  license:
    name: Proprietary

servers:
  - url: https://api.lfg-platform.com/v1
    description: Production server
  - url: https://staging-api.lfg-platform.com/v1
    description: Staging server
  - url: http://localhost:8000/v1
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and registration
  - name: Users
    description: User profile management
  - name: Wallets
    description: Wallet and transaction management
  - name: Markets
    description: Prediction market operations
  - name: Orders
    description: Order placement and management
  - name: Sportsbook
    description: Sports betting operations
  - name: Crypto
    description: Cryptocurrency operations

paths:
  /register:
    post:
      tags:
        - Authentication
      summary: Register new user
      description: Create a new user account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - email
                - password
              properties:
                username:
                  type: string
                  minLength: 3
                  maxLength: 50
                  example: johndoe
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123!
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  username:
                    type: string
                    example: johndoe
                  email:
                    type: string
                    example: john@example.com
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '400':
          description: Bad request - validation error
        '409':
          description: User already exists

  /login:
    post:
      tags:
        - Authentication
      summary: Login user
      description: Authenticate user and receive JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: john@example.com
                password:
                  type: string
                  format: password
                  example: SecurePass123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials

  /profile:
    get:
      tags:
        - Users
      summary: Get user profile
      description: Retrieve authenticated user's profile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized

    put:
      tags:
        - Users
      summary: Update user profile
      description: Update authenticated user's profile information
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Profile updated successfully
        '401':
          description: Unauthorized

  /balance:
    get:
      tags:
        - Wallets
      summary: Get wallet balance
      description: Retrieve authenticated user's wallet balance
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Balance retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '401':
          description: Unauthorized

  /transactions:
    get:
      tags:
        - Wallets
      summary: Get transaction history
      description: Retrieve authenticated user's transaction history with pagination
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number
        - in: query
          name: page_size
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Number of items per page
      responses:
        '200':
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /markets:
    get:
      tags:
        - Markets
      summary: List markets
      description: Get list of prediction markets with optional filtering and pagination
      parameters:
        - in: query
          name: category
          schema:
            type: string
          description: Filter by category
        - in: query
          name: status
          schema:
            type: string
            enum: [open, closed, resolved, cancelled]
          description: Filter by status
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: page_size
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Markets retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Market'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Markets
      summary: Create market
      description: Create a new prediction market (admin only)
      security:
        - AdminApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketCreate'
      responses:
        '201':
          description: Market created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Market'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    AdminApiKey:
      type: apiKey
      in: header
      name: X-Admin-API-Key

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        username:
          type: string
          example: johndoe
        email:
          type: string
          format: email
          example: john@example.com
        created_at:
          type: string
          format: date-time
        verified:
          type: boolean
          example: true

    Wallet:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        balance:
          type: number
          format: decimal
          example: 1000.00
        currency:
          type: string
          example: USD
        created_at:
          type: string
          format: date-time

    Transaction:
      type: object
      properties:
        id:
          type: integer
        wallet_id:
          type: integer
        amount:
          type: number
          format: decimal
        type:
          type: string
          enum: [deposit, withdrawal, bet, win, refund]
        description:
          type: string
        status:
          type: string
          enum: [pending, completed, failed]
        created_at:
          type: string
          format: date-time

    Market:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        category:
          type: string
        market_type:
          type: string
          enum: [binary, multi-outcome]
        end_date:
          type: string
          format: date-time
        status:
          type: string
          enum: [open, closed, resolved, cancelled]
        total_volume:
          type: number
          format: decimal

    MarketCreate:
      type: object
      required:
        - title
        - description
        - end_date
      properties:
        title:
          type: string
        description:
          type: string
        category:
          type: string
        market_type:
          type: string
          enum: [binary, multi-outcome]
          default: binary
        end_date:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        total_items:
          type: integer
        total_pages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: integer
